.Menu {
    font-weight: border;
    box-shadow: 0 2px 3px #444;
    background-color: #8f4f60;
    color: #eee;

    width: 100vw;

    display: fixed;
    position: absolute;
    top: 0;
}

.Menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 6vh;
    padding-left: 200px;
    padding-right: 200px;
}

.Menu ul li {
    list-style: none;
}

.Link-css {
    color: #000;
    font-size: 1.5rem;
    font-weight: border;
    padding: 10px;
    text-decoration: none;
}

.logo {
    width: 100px;
}