.sidebar {
    position: absolute;
    top: 13.5vh;
    right: 0vw;
    width: 15vw;
    height: 86.5vh;
    background-color: rgb(240, 208, 212);
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    padding-inline-start: 0em;
}

.month-list p{
    padding-inline-start: 0.5em;
}

.sidebar li {
    margin-top: 0.5em;
    text-align: center;
    list-style: none;
    background-color: rgb(238, 221, 223);
    border-bottom: 0.1px solid #FFFFFF;
}