.container-pesquisa {
  display: flex;
  justify-content: space-around;
}

.Pesquisa {
  height: 4vh;
  border: none;
  border-radius: 5px 0px 0px 5px;
  font-size: 1rem;
  font-weight: 600;
  padding: 6px;
}

.btn {
  border: none;
  border-radius: 0px 5px 5px 0px;
  background-color: #f2cacb;
  font-weight: 600;
  font-size: 1rem;
}
